ul#css3menu,
ul#css3menu ul {
  margin: 0;
  list-style: none;
  background-color: #000000;
  background-image: -moz-linear-gradient(
    50% 0%,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0.16)
  );
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    from(rgba(255, 255, 255, 0.38)),
    to(rgba(255, 255, 255, 0.16))
  );
  background-repeat: repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #343434;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  -moz-box-shadow: 1.4px 1px 2px #b1b1b1;
  -webkit-box-shadow: 1.4px 1px 2px #b1b1b1;
  box-shadow: 1.4px 1px 2px #b1b1b1;
}
ul#css3menu ul {
  display: none;
  position: absolute;
  left: -1px;
  top: 98%;
  padding: 0;
  background-color: #202020;
  background-image: -moz-linear-gradient(
    50% 0%,
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0)
  );
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    from(rgba(255, 255, 255, 0.16)),
    to(rgba(255, 255, 255, 0))
  );
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-color: #000000;
}
ul#css3menu li:hover > * {
  display: block;
}
ul#css3menu li:hover {
  position: relative;
}
ul#css3menu ul ul {
  position: absolute;
  left: 98%;
  top: -2px;
  border-radius: 0px; /*  Propiedad agregada */
}
ul#css3menu {
  padding: 6px 6px 6px 0;
  display: block;
  font-size: 0;
  position: absolute;
  z-index: 1000;
  left: 358px;
  top: 298.5px;
}
ul#css3menu li {
  display: block;
  white-space: nowrap;
  font-size: 0;
  float: left;
}
ul#css3menu > li,
ul#css3menu li {
  margin: 0 0 0 6px;
}
ul#css3menu ul > li {
  margin: 6px 0 0;
}
ul#css3menu a:active,
ul#css3menu a:focus {
  outline-style: none;
}
ul#css3menu a {
  display: block;
  /* vertical-align: middle; */
  text-align: left;
  text-decoration: none;
  font: 12px Arial, sans-serif;
  color: #e7e5e5;
  cursor: pointer;
  padding: 8px 20px;
  /* background-color: ; */
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}
ul#css3menu ul li {
  float: none;
  margin: 0;
}
ul#css3menu ul a {
  text-align: left;
}
ul#css3menu li:hover > a {
  background-color: #7acf27;
  border-color: #f8f8f8;
  border-style: solid;
  font: 12px Arial, sans-serif;
  color: #333;
  text-decoration: none;
  background-image: -moz-linear-gradient(
    50% 0%,
    rgba(255, 255, 255, 0.38),
    rgba(85, 170, 0, 0.7)
  );
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    from(rgba(255, 255, 255, 0.38)),
    to(rgba(85, 170, 0, 0.7))
  );
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#60FFFFFF,endColorstr=#B355AA00);
}
ul#css3menu img {
  border: none;
  vertical-align: middle;
  margin-right: 16px;
  width: 16px;
  height: 16px;
}
ul#css3menu ul img {
  width: 16px;
  height: 16px;
}
ul#css3menu img.over {
  display: none;
}
ul#css3menu li:hover > a img.def {
  display: none;
}
ul#css3menu li:hover > a img.over {
  display: inline;
}
ul#css3menu ul span {
  background-image: none;
  padding-right: 16px;
}
ul#css3menu li.topitem > a {
  background-color: transparent;
  border-width: 1px 0 0 0;
  border-style: solid;
  /* border-color: ; */
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  font: bold 13px Arial, sans-serif;
  color: #e7e5e5;
  text-decoration: none;
  text-shadow: 0 1px 1px #000000;
}
ul#css3menu li.topitem:hover > a {
  background-color: blue;
  /* background-color: #7dfa00;
  background-image: -moz-linear-gradient(
    50% 0%,
    rgba(255, 255, 255, 0.77),
    rgba(85, 170, 0, 0.7)
  );
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    from(rgba(255, 255, 255, 0.77)),
    to(rgba(85, 170, 0, 0.7))
  );
  border-style: solid;
  border-color: #f8f8f8;
  font: bold 13px Arial, sans-serif;
  color: #444444;
  text-decoration: none;
  text-shadow: 0 1px 0 #c5eaa1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#C6FFFFFF,endColorstr=#B355AA00); */
}
ul#css3menu li.subfirst > a {
  border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
}
ul#css3menu li.sublast > a {
  border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
}
