/* CSS Document */
* {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 15px;
}
body {
  background-color: #0285e3;
  color: #ffffff;
}
.img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}
.row::after {
  /* after; pseudo-elemento; posterior despu�s*/
  content: "";
  clear: both;
  display: table; /*display; Especifica el comportamiento de visualizaci�n */
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: darkblue;
  color: #ffffff;
  padding: 15px;
}

.formato {
  text-align: justify;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #70bcf3;
  border-radius: 6px;
}

.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px; /*En el contenedor; top y botton, left y right*/
  text-decoration: none;
  border-bottom: 1px solid #555;
}

li a.active {
  background-color: blue;
  color: white;
}

.menu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: darkblue;
  text-align: center;
  padding: 15px;
}

/*Para dispositivos moviles */
[class*="col-"] {
  /*selectores de atributos; Selecciona elementos que contienen el atributo "col-".*/
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* Para tablet */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* Para escritorio */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
