.App {
  text-align: center;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul {
  padding: 0;
  display: flex;
  width: 100%;
  background-color: rgb(50, 20, 20);
  color: white;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
