.img-home {
  transition: all 0.8s ease 0s;
  margin: 10px 0 10px 0;
}
.fondo {
  background-color: rgb(12, 3, 110);
}
.img-home:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  cursor: pointer;
}
.enlace {
  color: azure;
  text-decoration: none;
  font-family: "Arial";
}
.enlace:hover {
  color: darkcyan;
}
